

.articleListClass h4{
	margin-top: 5px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 5px;
	color: #4DFF4D;
}

.articleListClass footer{
	margin-left: 7px;
	font-size: 95%;
	margin-bottom: 1px;
	color: #4DFF4D;
}

.articleListClass .section {
	border-radius: 15px;
}

img {
	width: 100%;
	height: auto;
	margin-bottom: -5px;

}

.articleViewClass p{
	margin-top: 5px;
	margin-left: 7px;
	margin-right: 7px;
	font-size: 105%;
	color: #4DFF4D;
}

.articleViewClass footer{
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 5px;
	margin-bottom: 3px;
	font-size: 105%;
	color: #4DFF4D;
}

.articleViewClass h4{
	margin-top: 7px;
	margin-bottom: 7px;
	margin-left: 7px;
	margin-right: 7px;
	color: #4DFF4D;

}

.app-section.active {

	border: 3px solid #AAA;
	margin-bottom: -3px;
	margin-top: -3px;

}

.app-section.active:first-child{
	margin-top: 5px;
}

.app-android .app-topbar .app-button.left {
	padding: 0;
	height: 100%;
	width: 33%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAMAAABf788oAAAAjVBMVEUiIiIjIyMrKysqKioAAACdnZ0mJiYnJyednZ0kJCQoKCgsLCwlJSXLy8vPz8/MzMzJycnNzc3Ozs7GxsagoKCjo6O3t7exsbHIyMisrKzAwMDExMS+vr6ysrLHx8fKysq0tLStra27u7urq6unp6fBwcGoqKjDw8Ourq66urq9vb2fn5/FxcWwsLClpaWY7qkYAAAADXRSTlMAAAAAADMAAJkAAAAAOhxptwAAAMVJREFUeF5d0dVuBTEMBNCZvUWY0OLFMsP/f15lxWqb5i1HijO2cYR6zndKKfWDA7EuksIeFcjVNkv5uaMDPoOkco8KxNkhSmVHwmEKkjSiAjFeW8UJhMNdkOLh2IF4yFbxBYQBebopUtmcsIJnil8gYIBVn6XwCsJhDlJOww8Mi2Xa290hGcy/gJt/T9D1sSlK3IbmW/LisQkG4qmJDhBvxZtzwKim/WZADu9LM0LQGpLKGnRg92Fr2F7y76KiL6qeK1/lN9FpDuyoOMUMAAAAAElFTkSuQmCC);
	background-position: 8px center;
	background-repeat: no-repeat;
	-webkit-background-size: 8px 14px;
	background-size: 8px 14px;
	color: transparent;
}

.app-section{
	background-color: #0F161A;
}

.app-content {
	background-color: #0F161A;
}

.app-page {
	background-color: #0F161A;
}

.ListOfArticles {
	background-color: #0F161A;
}

.app-topbar .app-button {
	background-color: #0F161A;
	border-color: #0F161A;
	outline-color: #0F161A;
	color: #4DFF4D;
	box-shadow: #0F161A;
	border-collapse: 0px;
}

.ListOfArticles .app-content {
	background-color: #0F161A;
}

.wrapper {
	height: 100%;
}

.app-title{
	color: #4DFF4D;
}

.app-button {
	color: #4DFF4D;
}

.articleViewClass {
	background-color: #0F161A;
}

.articleview {

	background-color: #0F161A;

}

.articleViewClass .app-section:first-child {
	margin-top: 0px;
}

.app-title {
	background-color: #0F161A;
}