.content img {
	width: 100%;
}

.wrapper {
	height: 100%;
}

.app-content {
	overflow: hidden;
}

.app-page.content .title,
.app-page.content .content {
	margin: 8px;
	line-height: 150%;
}

.app-page.list .title {
	overflow: hidden;
	text-overflow: ellipsis;
}

.app-list > *,
.app-list > .app-button {
	padding: 8px !important;
}
